@media screen and (max-width: 1200px) {
    header {
        #nav-top {
            margin-bottom: 0;
        }

        #nav-bot {
            #nav-bot-wrapper {
                margin: 2.5rem 5rem;
            }
        }
    }

    main {
        #galleri-section {
            #wrapper {
                display: flex;
                flex-direction: column;
                gap: 2rem;

                img {
                    width: 100%;
                }
            }
        }
    }

    footer {
        margin-top: 2.5rem;
    }
}