@mixin flex-center($direction: row) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin transition($property, $duration) {
    transition: $property $duration ease;
}